<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-875c7a45-82c1-4a68-97b4-04be99b58554</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>875c7a45-82c1-4a68-97b4-04be99b58554</wdId>
      <tags>WindowsApp</tags>
      <dirName>./work/WindowsApp-1.*/*</dirName>
      <hosts></hosts>
      <filePattern>*.out*,*.err*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat></timeFormat>
      <flush>false</flush>
      <maxAgeDays>90</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.NullFileSorter"/>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>false</grokDiscovery>
      <fieldDiscovery>false</fieldDiscovery>
      <systemFieldsEnabled>false</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>7,14,Snappy_Compress</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->