<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.space.Search-Windows - Bandwidth by Host and Interface (Top 10)</string>
    <com.liquidlabs.log.space.Search>
      <name>Windows - Bandwidth by Host and Interface (Top 10)</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(win-netutil) BandwidthPct.avg(server+Interface,) chart(c3.line.tipsOff) top(10) bucketWidth(2m) 100pct.max()</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Windows - CPU Busy Hosts (Top 10)</string>
    <com.liquidlabs.log.space.Search>
      <name>Windows - CPU Busy Hosts (Top 10)</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(win-cpu) IdlePct.min(server,Idle) 100pct.max() bottom(10) chart(c3.line.tipsOff) </string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Windows - Current Services State</string>
    <com.liquidlabs.log.space.Search>
      <name>Windows - Current Services State</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(win-service) server.by(DisplayName+server,Server) Name.by(DisplayName+server,Name) State.last(DisplayName+server,State) Status.last(DisplayName+server,Status) ProcessId.last(DisplayName+server,PID) Owner.by(DisplayName+server,Owner) ExitCode.last(DisplayName+server,ExitCode)  chart(table) buckets(1)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Windows - Disk IO by Host Disk (Top 10)</string>
    <com.liquidlabs.log.space.Search>
      <name>Windows - Disk IO by Host Disk (Top 10)</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(win-diskperf) DiskUtilPct.avg(HostDisk) top(10) chart(c3.line.tipsOff) 100pct.max()</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Windows - Disk Space High Utilisation (Top 10)</string>
    <com.liquidlabs.log.space.Search>
      <name>Windows - Disk Space High Utilisation (Top 10)</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(win-diskutil) DiskUtilPct.max(HostDisk) 100pct.max() chart(c3.line.tipsOff) top(10)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Windows - High Processor Queues (Top 10)</string>
    <com.liquidlabs.log.space.Search>
      <name>Windows - High Processor Queues (Top 10)</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(win-load) processorQueueLength.avg(_host) chart(c3.line.tipsOff) top(10)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Windows - Memory High Utilisation (Top 10)</string>
    <com.liquidlabs.log.space.Search>
      <name>Windows - Memory High Utilisation (Top 10)</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(win-mem) MemUsedPct.avg(server,%Used) chart(c3.line.tipsOff) 100pct.max() top(10) </string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Windows - Processes by Host (Top 10)</string>
    <com.liquidlabs.log.space.Search>
      <name>Windows - Processes by Host (Top 10)</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(win-perf) processes.avg(server,) chart(c3.line.tipsOff) top(10)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Windows - Threads by Host (Top 10)</string>
    <com.liquidlabs.log.space.Search>
      <name>Windows - Threads by Host (Top 10)</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(win-perf) threads.avg(server,) chart(c3.line.tipsOff) top(10)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->